@import url('https://fonts.googleapis.com/css?family=Kanit');

body{
    font-family: 'Kanit', sans-serif;
    animation: pulse 10s infinite;

}

h1{
    background-color: greenyellow;
    animation: move 1s infinite;
}
.navbar-nav {
    display: inline-block;
    float: left;
}
  
.navbar-nav>li {
     display: inline-block;
}

#nested i{
    animation: item 2s infinite;
}

@keyframes item{
    100%{
        color: cadetblue;
    }
    0%{
        color: rebeccapurple;
    }
}

@keyframes pulse{
    100%{
        background: linen;
    }
    50%{
        background: #FFFFCC;
    }
    0%{
        background: #CCFFCC;
    }
}
@keyframes move{
    100%{
        color: red;
    }
    50%{
        color: green;
    }
    0%{
        color: blue;
    }
}

#tip li a{
    color: black;
}

#tip li a:hover{
    color: white;
    text-decoration: none;
}
#nav-header i{
    font-size: 110%;
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}