@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

html{
	margin: 0;
	padding: 0;
}
body{
	font: 85% georgia, sans-serif;
	color: #555753; 
	background: #fff linear-gradient(110deg, #FFDAB9 60%, #FAEBD7 60%) no-repeat bottom right; 
	background-attachment: fixed;
}

.page-wrapper{
	margin:0 auto;
	/* width: 80%; */
}
header {
	padding:20px;
	text-align: center;
}
header h1{
	font-family: 'Baloo Thambi', cursive;
	font-size: 300%;
	border-left: 30px solid black;
	text-align: left;
  	background-color: black;
	color: azure;
	margin: 0%;
}

header h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
}

.summary{
	text-align: center;
	font-size: 120%;
}

.summary a{
	border: none;
	border-radius:12px;
	text-align: center;
  	text-decoration: none;
	font-size: 130%;
	background: white;
	display: block;
	width: 30%;
	margin-left: 35%;
	padding: 1%;
}

.summary a:hover{
	background: black;
	color: #fff;
}
.preamble{
	background: #D3D3D3;
}

.explanation,.participation,footer,.benefits,.requirements{
	float: left;
	background: #FFCCCC;
	width: 66%;
	padding: 1em 5% 1em 10%;
	font-size: 120%;
}
.explanation,.participation{
	float: left;
}
.participation a:hover{
	background: white;
	color : black;
	text-decoration: none;
}

.requirements a{
	font-size: 120%;
}

.requirements a:hover{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.sidebar{
	background: white;
	opacity: 0.5%;
}
.sidebar li{
	float: none;
    width: auto;
}
.sidebar h3{
	background: #555753;
	font-size: 20px;
	color: #fdcd3b;
	padding: 9px;
	margin-left: 3px;
}

.sidebar ul li{
	list-style: square;
}

.sidebar ul{
	list-style: none;
	overflow: hidden;
	text-align: left;
}
li{
	padding-bottom: 5%;
}
.sidebar .design-name{
	color: #BEBEBE;
	display: block;
}
.sidebar .designer-name , a{
	color: #708090;
}

.sidebar a:hover{
	color: #555753;
	text-decoration: none;
	font-size: 102%;
	background: #E6E6FA;
}
