@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

html{
  scroll-behavior: smooth;
}
body{
}
.bgimage {
  width:100%;
  height:500px;
  background: url('./image/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.bgimage:hover{
  background: url('./image/bannerhover.jpg');
  width:100%;
  height:500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
#contact a{
  color: #D3D3D3;
  font-size: 200%;
}

#contact a:hover{
  color: #778899;
  font-size: 200%;
}
#hero-text {
  font-family: 'Lobster', cursive;
  color:white;
  text-shadow:2px 2px #333;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container{
  display: flex;
}

#img-profile img{
  width: 500px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#info{
  margin-left: 5%;
}


@media screen and (max-width:800px){
  #hero-text {
    font-family: 'Lobster', cursive;
    color:white;
    text-shadow:2px 2px #333;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .flex-container{
    display: flex;
    flex-direction: column; /* ค่า default จะเป็น row */
  }
  .header{
      text-align: center;
  }
  #img-profile img{
      width: 350px;
  }
}